.resizeimage img { width: 100vw; }

.right { text-align: right; padding: 5px;}
	
table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,table td{
  padding: 15px 5px 15px 5px;
  text-align: left;
}

.span-5{
    display: flex;
    flex-wrap: wrap;
}
.span-5>div{
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
}

.resizeimage img { width: 100vw; }

/*以下フェードイン表示の指定*/
.fadein {
    opacity: 0;
    animation: fadein 3s ease forwards;
}
@keyframes fadein {
    100% {  opacity: 1;}
}
 
/*以下遅延の指定*/
.row01 {animation-delay: 1s;}
.row02 {animation-delay: 1.1s;}
.row03 {animation-delay: 1.2s;}
.row04 {animation-delay: 1.3s;}
.row05 {animation-delay: 1.4s;}
.row06 {animation-delay: 1.5s;}
.row07 {animation-delay: 1.6s;}
.row08 {animation-delay: 1.7s;}
.row09 {animation-delay: 1.8s;}
.row10 {animation-delay: 1.9s;}
