table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,table td{
  padding: 10px 0;
  text-align: center;
}

table tr:nth-child(odd){
  background-color: #eee
}

* {
    margin: 0;
    padding: 0;
}
.wrap { 
    width:100vw;
    height:100vh;
     
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content {      
    width:auto;
    height: auto;
}

 
/*以下フェードイン表示の指定*/
.fadein {
    opacity: 0;
    animation: fadein 6s ease forwards;
}
@keyframes fadein {
    100% {  opacity: 1;}
}
 
/*以下遅延の指定*/
.txt01 {animation-delay: 0s;}
.txt02 {animation-delay: 0.5s;}
.txt03 {animation-delay: 1s;}
.txt04 {animation-delay: 1.5s;}
.txt05 {animation-delay: 2s;}
.txt06 {animation-delay: 2.5s;}
.txt07 {animation-delay: 3s;}
.txt08 {animation-delay: 3.5s;}
.txt09 {animation-delay: 4s;}
.txt10 {animation-delay: 4.5s;}
