table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,table td{
  padding: 10px 0;
  text-align: center;
}

table tr:nth-child(odd){
  background-color: #eee
}


 
/*以下フェードイン表示の指定*/
.fadein {
    opacity: 0;
    animation: fadein 6s ease forwards;
}
@keyframes fadein {
    100% {  opacity: 1;}
}
 
/*以下遅延の指定*/
.txt01 {animation-delay: 0s;}
.txt02 {animation-delay: 0.25s;}
.txt03 {animation-delay: 0.5s;}
.txt04 {animation-delay: 0.75s;}
.txt05 {animation-delay: 1s;}
.txt06 {animation-delay: 1.25s;}
.txt07 {animation-delay: 1.5s;}
.txt08 {animation-delay: 1.75s;}
.txt09 {animation-delay: 2s;}
.txt10 {animation-delay: 2.25s;}
