
table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,table td{
  padding: 15px 0 15px 2em;
  text-align: left;
}

table tr:nth-child(odd){
  background-color: #eee
}

 
/*以下フェードイン表示の指定*/
.fadein {
    opacity: 0;
    animation: fadein 3s ease forwards;
}
@keyframes fadein {
    100% {  opacity: 1;}
}
 
/*以下遅延の指定*/
.txt01 {animation-delay: 0s;}
.txt02 {animation-delay: 0.2s;}
.txt03 {animation-delay: 0.3s;}
.txt04 {animation-delay: 0.4s;}
.txt05 {animation-delay: 0.5s;}
.txt06 {animation-delay: 0.6s;}
.txt07 {animation-delay: 0.7s;}
.txt08 {animation-delay: 0.8s;}
.txt09 {animation-delay: 0.9s;}
.txt10 {animation-delay: 1s;}
