.resizeimage img { width: 100vw; }

p.right { text-align: right; padding: 5px;}
	
table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,table td{
  padding: 15px 5px 15px 5px;
  text-align: left;
}

.resizeimage img { width: 100vw; }

/*以下フェードイン表示の指定*/
.fadein {
    opacity: 0;
    animation: fadein 3s ease forwards;
}
@keyframes fadein {
    100% {  opacity: 1;}
}
 
/*以下遅延の指定*/
.txt01 {animation-delay: 1s; background-color: #eee;}
.txt02 {animation-delay: 1.2s;}
.txt03 {animation-delay: 1.3s; background-color: #eee;}
.txt04 {animation-delay: 1.4s; }
.txt05 {animation-delay: 1.5s; background-color: #eee;}
.txt06 {animation-delay: 1.6s;}
.txt07 {animation-delay: 1.7s; background-color: #eee;}
.txt08 {animation-delay: 1.8s;}
.txt09 {animation-delay: 1.9s; background-color: #eee;}
.txt10 {animation-delay: 2s;}
