.resizeimage img { width: 100vw; }

.right { text-align: right; padding: 5px;}
	
table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,table td{
  padding: 15px 5px 15px 5px;
  text-align: left;
}

.col.span-5 {
    flex: 0 0 39.3333333333%;
    max-width: 39.3333333333%;
}
.col.span-7 {
    flex: 0 0 56.6666666667%;
    max-width: 56.6666666667%;
}
.col.span-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.resizeimage img { width: 100vw; }

/*以下フェードイン表示の指定*/
.fadein {
    opacity: 0;
    animation: fadein 3s ease forwards;
}
@keyframes fadein {
    100% {  opacity: 1;}
}
 
/*以下遅延の指定*/
.row01 {animation-delay: 1s;}
.row02 {animation-delay: 1.1s;}
.row03 {animation-delay: 1.2s;}
.row04 {animation-delay: 1.3s;}
.row05 {animation-delay: 1.4s;}
.row06 {animation-delay: 1.5s;}
.row07 {animation-delay: 1.6s;}
.row08 {animation-delay: 1.7s;}
.row09 {animation-delay: 1.8s;}
.row10 {animation-delay: 1.9s;}
